<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="YearGroupCalculator.YearGroupCalculator" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Year Group Calculator" android:icon="@drawable/user_manage"></application>
</manifest>